/*-- Common --*/
@font-face {
  font-weight: normal;
  font-family: Comfortaa-regular;
  src: url('../assets/fonts/Comfortaa-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;

  color: #2c3e50;
  font-family: Comfortaa-regular, sans-serif;

  background: #ecf0f1;

  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outer-container {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.inner-container {
  padding: 0 30px;
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*-- Common --*/

/*-- Home --*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

header .heroImage {
  display: flex;
  flex: 0 0 50%;
  padding: 0 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

header .heroImage img {
  border-radius: 50%;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  box-shadow: 0 0 3rem gold;
}

header .intro {
  flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}

.hero {
  font-size: 3rem;
}

.links-cv-social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.cv {
  background-color: gold;
  padding: 10px 10px;
  border-radius: 10px;
}

.icon-github::before {
  content: '';
  display: block;
  background: url('../assets/icons/github-original.svg') no-repeat center center / cover;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.icon-hh::before {
  content: '';
  display: block;
  background: url('../assets/icons/hh.svg') no-repeat center center / cover;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.icon-linkedin::before {
  content: '';
  display: block;
  background: url('../assets/icons/linkedin-original.svg') no-repeat center center / cover;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

/*-- Home --*/

/*-- Side Menu --*/
.hidden-name {
  display: none;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 70px;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: gold;
}

/*-- Side Menu --*/

/*-- Skills --*/
.skills {
  min-height: 100vh;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-list-container .hover-icon-main {
  
}

.skill-container img {
  width: 40px;
  height: 40px;
}

.skill-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/*-- Skills --*/

/*-- Animation --*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skill-container:nth-child(2) {
  transition-delay: 100ms;
}

.skill-container:nth-child(3) {
  transition-delay: 200ms;
}

.skill-container:nth-child(4) {
  transition-delay: 300ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/*-- Animation --*/
.hover-icon-main:hover {
  box-shadow: 0 0 3rem gold;
}