@charset "UTF-8";
.contact-container, .skills-projects .skills-container .skill-list-container .skill-container, .skills-projects .skills-container .skill-list-container, .skills-projects .skills-container, header, div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-contact::before, .icon-projects::before, .icon-skills::before, .icon-home::before, .icon-linkedin::before, .icon-hh::before, .icon-github::before {
  content: "";
  display: block;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

/*-- Common --*/
@font-face {
  font-weight: normal;
  font-family: Comfortaa-regular;
  src: url("../assets/fonts/Comfortaa-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  font-family: Comfortaa-regular, sans-serif;
  background: #ecf0f1;
  display: flex;
  vertical-align: baseline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.outer-container {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.inner-container {
  padding: 0 30px;
  max-width: 1140px;
  margin: 0 auto;
}

/*-- Common --*/
/*-- Home --*/
header {
  min-height: 100vh;
  width: 100%;
}
header .intro {
  flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}
header .heroImage {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
header .heroImage img {
  border-radius: 50%;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  box-shadow: 0 0 3rem gold;
}

.hero {
  font-size: 3rem;
}

.links-cv-social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.cv {
  background-color: gold;
  padding: 10px 10px;
  border-radius: 10px;
}

.icon-github::before {
  background: url("../assets/icons/github-original.svg") no-repeat center center/cover;
}

.icon-hh::before {
  background: url("../assets/icons/hh.svg") no-repeat center center/cover;
}

.icon-linkedin::before {
  background: url("../assets/icons/linkedin-original.svg") no-repeat center center/cover;
}

/*-- Home --*/
/*-- Side Menu --*/
.icon-home::before {
  background: url("../assets/icons/house-solid.svg") no-repeat center center/cover;
}
.icon-skills::before {
  background: url("../assets/icons/keyboard-solid.svg") no-repeat center center/cover;
}
.icon-projects::before {
  background: url("../assets/icons/briefcase-solid.svg") no-repeat center center/cover;
}
.icon-contact::before {
  background: url("../assets/icons/id-card-solid.svg") no-repeat center center/cover;
}

nav {
  position: fixed;
  background: gold;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(255, 215, 0, 0.1);
  z-index: 10;
}
nav .side-bar {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
nav a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 25px;
  padding: 15px;
  border-radius: 15px;
}
nav a:hover {
  background: #f9e79f;
}
nav:hover {
  width: 220px;
  transition: all 0.5s ease;
}

/*-- Side Menu --*/
/*-- Skills --*/
.skills-projects {
  min-height: 100vh;
}
.skills-projects .skills-container {
  flex-direction: column;
  margin-bottom: 200px;
}
.skills-projects .skills-container .skill-list-container {
  gap: 30px;
}
.skills-projects .skills-container .skill-list-container .skill-container {
  flex-direction: column;
  border: 1px solid gold;
  box-shadow: 0 4px 8px gold;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 0;
  width: 80px;
}
.skills-projects .skills-container .skill-list-container .skill-container:hover {
  box-shadow: 0 0 4rem gold;
}
.skills-projects .skills-container .skill-list-container .skill-container img {
  width: 40px;
  height: 40px;
}

/*-- Skills --*/
/*-- Projects --*/
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.projects-container article {
  display: flex;
  border: 1px solid gold;
  box-shadow: 0 4px 8px gold;
  padding: 25px;
  border-radius: 15px;
}
.projects-container article:first-child {
  margin-top: 0;
}
.projects-container article:hover {
  box-shadow: 0 0 4rem gold;
}
.projects-container article img {
  border-radius: 15px;
  width: 100%;
  flex: 0 0 350px;
}
.projects-container article .project-description {
  flex: 0 1 calc(100% - 350px);
  margin-left: 20px;
}
.projects-container article .project-description h3 {
  margin: 0;
  padding: 0;
}
.projects-container article .project-description h4 span {
  color: #2e86c1;
}
.projects-container article .project-description a {
  text-decoration: underline;
}

/*-- Projects --*/
/*-- Contact --*/
.contact-container {
  min-height: 100vh;
  width: 100%;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.contact-container form input,
.contact-container form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  border-radius: 15px;
}
.contact-container form button {
  padding: 15px;
  border: 0;
  outline: none;
  background: gold;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

/*-- Contact --*/
/*-- Animation --*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skill-container:nth-child(2) {
  transition-delay: 100ms;
}

.skill-container:nth-child(3) {
  transition-delay: 200ms;
}

.skill-container:nth-child(4) {
  transition-delay: 300ms;
}

.skill-container:nth-child(5) {
  transition-delay: 400ms;
}

.skill-container:nth-child(6) {
  transition-delay: 600ms;
}

.skill-container:nth-child(7) {
  transition-delay: 700ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/*-- Animation --*/
/*-- media --*/
@media (max-width: 990px) {
  .outer-container {
    width: 100%;
    margin-left: 0;
  }
  .side-menu {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
  }
  header * {
    margin: 0;
    padding: 0;
  }
  header .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 20px;
  }
  header .intro * {
    margin: 0;
    padding: 0;
  }
  header .intro .links-cv-social {
    gap: 30px;
  }
  header .intro .links-cv-social .cv {
    padding: 10px 10px;
  }
  header .hero {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills-projects .skills-container .skill-list-container {
    display: grid;
    grid-template-areas: "skill1 skill2 skill3" "skill4 skill5 skill6" ". skill7 .";
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-1 {
    grid-area: skill1;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-2 {
    grid-area: skill2;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-3 {
    grid-area: skill3;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-4 {
    grid-area: skill4;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-5 {
    grid-area: skill5;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-6 {
    grid-area: skill6;
  }
  .skills-projects .skills-container .skill-list-container .grid-skill-7 {
    grid-area: skill7;
  }
  .projects-container article {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 770px) {
  /*
  Стили для устройств, у которых ширина viewport меньше или равно 770 пикселей.
  Это множество мобильных устройств
  */
}

/*# sourceMappingURL=style.css.map */
